@import url("https://p.typekit.net/p.css?s=1&k=npe0zjq&ht=tk&f=6958.6959.6960.6961.6962.6963.10890.10891.10892.10893.10900.10901.10904.10905&a=17880044&app=typekit&e=css");

@font-face {
  font-family:"pt-sans";
  src:url("https://use.typekit.net/af/dfade6/0000000000000000000124f9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/dfade6/0000000000000000000124f9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/dfade6/0000000000000000000124f9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
  font-family:"pt-sans";
  src:url("https://use.typekit.net/af/46285f/0000000000000000000124f6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/46285f/0000000000000000000124f6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/46285f/0000000000000000000124f6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
  font-family:"pt-sans";
  src:url("https://use.typekit.net/af/86d3cf/0000000000000000000124fa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/86d3cf/0000000000000000000124fa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/86d3cf/0000000000000000000124fa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
  font-family:"pt-sans";
  src:url("https://use.typekit.net/af/c7dec9/0000000000000000000124f7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/c7dec9/0000000000000000000124f7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/c7dec9/0000000000000000000124f7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
  font-family:"pt-sans-narrow";
  src:url("https://use.typekit.net/af/bb203d/0000000000000000000124f3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/bb203d/0000000000000000000124f3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/bb203d/0000000000000000000124f3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
  font-family:"pt-sans-narrow";
  src:url("https://use.typekit.net/af/841c9f/0000000000000000000124f4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/841c9f/0000000000000000000124f4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/841c9f/0000000000000000000124f4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
  font-family:"pragmatica";
  src:url("https://use.typekit.net/af/c9f384/0000000000000000000100ca/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c9f384/0000000000000000000100ca/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c9f384/0000000000000000000100ca/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
  font-family:"pragmatica";
  src:url("https://use.typekit.net/af/4dd308/0000000000000000000100cb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/4dd308/0000000000000000000100cb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/4dd308/0000000000000000000100cb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
  font-family:"pragmatica";
  src:url("https://use.typekit.net/af/983872/0000000000000000000100cc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/983872/0000000000000000000100cc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/983872/0000000000000000000100cc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
  font-family:"pragmatica";
  src:url("https://use.typekit.net/af/a362cc/0000000000000000000100cd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/a362cc/0000000000000000000100cd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/a362cc/0000000000000000000100cd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
  font-family:"pragmatica-condensed";
  src:url("https://use.typekit.net/af/841d09/0000000000000000000100d4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/841d09/0000000000000000000100d4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/841d09/0000000000000000000100d4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
  font-family:"pragmatica-condensed";
  src:url("https://use.typekit.net/af/deed7a/0000000000000000000100d5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/deed7a/0000000000000000000100d5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/deed7a/0000000000000000000100d5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
  font-family:"pragmatica-condensed";
  src:url("https://use.typekit.net/af/415d74/0000000000000000000100d8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/415d74/0000000000000000000100d8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/415d74/0000000000000000000100d8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
  font-family:"pragmatica-condensed";
  src:url("https://use.typekit.net/af/1a0e4f/0000000000000000000100d9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/1a0e4f/0000000000000000000100d9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/1a0e4f/0000000000000000000100d9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:900;
}

body, html { height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  font-size: 1em;
}

body {
  font-family: 'pt-sans', sans-serif;
  background: #F5F5F5;
  font-size: 14px;
}


h1, h2, h3, h4, h5 {
  font-family: 'pragmatica', sans-serif;
  font-weight: 700;
  color: #353535;
}

h1 {
  font-size: 1.8em;
  text-align: center;
  margin: 16px 0 4px;
}

h2 {
  font-size: 1.4em;
  margin: 16px 0 12px;
}

h3 {
  font-size: 1em;
  margin: 12px 0 8px;
}

h4 {
  font-size: .8em;
}

@media all and (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5em;
    margin: 24px 0 12px;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p, a, ul, li, ol {
  font-family: 'pt-sans', sans-serif;
}
/*nav {*/
  /*width: 100%;*/
  /*height: 80px;*/
  /*left: 0px;*/
  /*top: 0px;*/
  /*background: #1C1C1C;*/
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  /*color: #F2F2F2;*/
  /*padding: 8px 12px;*/
/*}*/


/* -------------------- 1. Theme -------------------- */

header, .menu-container .menus {
  background-color: #1C1C1C;
}

.menu-container nav .sub-menu .sub-menu {
  border-bottom-color: #1C1C1C;
}

.menu-container nav li a {
  color: #fff;
  text-decoration: none;
}

.menu-container nav li:hover>a{
  color: #0066FF;
}

@media all and (min-width: 1024px) {
  .menu-container nav .sub-menu li {
    background-color: #1C1C1C;
  }

  .menu-container nav .sub-menu li:first-of-type {
    border-top-color: #40768D;
  }
  .menu-container nav .sub-menu li:first-of-type,
  .menu-container nav .sub-menu .sub-menu li:first-of-type {
    border-top-color: #40768D;
  }
  .menu-container nav .sub-menu li:first-of-type::before,
  .menu-container nav .sub-menu li:last-of-type {
    border-bottom-color: #40768D;
  }
  .menu-container nav .sub-menu .menu-item-has-children::after {
    border-left-color: #40768D;
  }
}

.menu-container .menu > .current-menu-item > a {
  border-bottom-color: #F29100;
}

.expand span {
  border-top-color: #fff;
}

.btn,
header #navToggle,
.menu-container #closeMenu {
  color: #fff;
}

header .menu-container {
  background-color: rgba(0,0,0,0.3);
}

.menu-container #closeMenu {
  background: #353535;
}

@media all and (min-width: 1024px) {
  .menu-container nav .sub-menu .menu-item-has-children:hover::after {
    border-left-color: #1C4E63;
  }
  .menu-container nav .sub-menu li:hover{
    background-color: #1C4E63;
  }
}


/* -------------------- Header -------------------- */
header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-right: 6px;
  padding-left: 2%;
  box-sizing: border-box;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header .logo-container img {
  height: 60px;
}

header #navToggle {
  font-size: 25px;
  line-height: 25px;
  margin: 5px 5px 5px 20px;
  cursor: pointer;
  color: #fff
}

header .menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  z-index: 3;
}

header .menu-container.active {
  left: 0;
}

.menu-container #closeMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 75px;
  height: 75px;
  font-size: 70px;
  cursor: pointer;
}
.menu-container .menus {
  flex: 1 1 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  padding-bottom: 14px;
}

.menu-container nav {
  display: flex;
  justify-content: center;
}

.menu-container nav ul {
  width: 100%;
}

.menu-container nav li {
  width: 100%;
}

.menu-container nav .menu > li:not(.current-menu-item) > a {
  padding-bottom: 2px;
}

.menu-container nav a {
  display: inline-block;
  text-decoration: none;
  line-height: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}

.nav-logo {
  width: 170px;
  height: 60px;
  background-image: url('images/casino10.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.expand {
  display: block;
  line-height: 22px;
  font-size: 20px;
  width: 22px;
  height: 22px;
  text-align: center;
  position: relative;
  float: right;
}

.expand span {
  display: block;
  width: 17px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  border-top: 2px solid transparent;
  border-top-color: #fff;
}

.expand span:first-of-type {
  transform: rotate(90deg);
}

.active > .expand span:first-of-type {
  transform: rotate(0deg);
}

.menu-container nav a {
  display: inline-block;
  text-decoration: none;
  line-height: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}

.menu-container nav .menu > li:not(.current-menu-item) > a{
  padding-bottom: 2px;
}

.menu-container nav .sub-menu {
  display: none;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

.menu-container nav .sub-menu a {
  font-size: 20px;
  font-weight: normal;
}

.menu-container .menu > .current-menu-item > a {
  border: 2px solid transparent;
}

.menu-container nav .sub-menu .sub-menu {

  border: 4px solid transparent;
}

.langs {
  border-radius: 50%;
  margin: 50px auto 25px auto;
}

.lang {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*margin-right: 5px;*/
}
.lang.current {
  width: 40px;
  height: 40px;
  background-size: 42px 42px;
  margin: 0 auto;
  display: block;
}


.nl-be {
  background-image: url('images/countries/belgium.png');
}

.es-cl {
  background-image: url('images/countries/chili.png');
}

.et {
  background-image: url('images/countries/estonia.png');
}

.fr {
  background-image: url('images/countries/france.png');
}

.hi {
  background-image: url('images/countries/india.svg');
}

.it {
  background-image: url('images/countries/italy.png');
}

.ar-lb {
  background-image: url('images/countries/lebanon.png');
}

.de-lu {
  background-image: url('images/countries/luxembourg.png');
}

.nl {
  background-image: url('images/countries/netherlands.jpeg');
}

.pl {
  background-image: url('images/countries/poland.png');
}

.sk {
  background-image: url('images/countries/slovakia.png');
}

.sl {
  background-image: url('images/countries/slovenia.png');
}

.langs .sub-menu {
  display: none;
}
.langs nav .sub-menu {
  padding-left: 0;
}

@media all and (max-width: 1024px) {
  .langs .current {
    display: none;
  }
  .langs nav > ul > li {
    position: relative;
  }
  .langs nav .sub-menu {
    display: flex;
    flex-flow: row wrap;
  }
  .langs nav .sub-menu li {
    display: inline-block;
    max-width: 30px;
  }
  .langs nav .sub-menu li .lang {
    border-radius: 50%;
  }
  .langs nav .sub-menu li a {
    padding: 0 5px;
  }
}

.breadcrumbs {
  font-size: 1em;
  /*margin: 15px auto;*/
}
.breadcrumbs li {
  display: inline-block;
}
@media all and (orientation: portrait) {
  .menu-container .menus {
    justify-content: space-evenly;
  }
}
@media all and (min-width: 1024px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
  }
  header .container {
    padding: 0;
    width: 96%;
    height: 100%;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 1400px;
  }
  header .logo-container {
    display: block;
    margin-right: 25px;
  }
  #navToggle {
    display: none;
  }
  header .menu-container {
    position: relative;
    left: 0;
  }
  .menu-container nav {
    flex: 1;
    align-items: flex-end;
    justify-content: center;
  }
  .menu-container #closeMenu {
    display: none;
  }
  .menu-container .menus {
    flex: auto;
    flex-direction: row;
    overflow-y: visible;
    justify-content: space-between;
  }
  .menu-container nav li {
    display: inline-block;
    position: relative;
    width: auto;
  }

  .menu-container nav ul {
    text-align: center;
  }
  .expand {
    display: none;
  }
  .menu-container nav a {
    font-size: 16px;
    display: block;
  }
  .menu-container nav .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    /*left: -25%;*/
    left: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    /*width: 150%;*/
    width: auto;
    z-index: 1;
  }
  .menu-container nav .sub-menu .sub-menu {
    padding-left: 0;
    border: none;
  }
  .menu-container nav li:hover > .sub-menu{
    display: block;
  }
  .menu-container nav .sub-menu li {
    display: block;
  }

  .menu-container nav .sub-menu li:first-of-type {
    border-top: 10px solid transparent;
  }

  .menu-container nav .sub-menu li:first-of-type::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: -18px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;
  }
  .menu-container nav .sub-menu li:last-of-type {
    border-bottom: 10px solid transparent;
  }
  .menu-container nav .sub-menu .menu-item-has-children::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -16px;
    margin-top: -8px;
    width: 0;
    height: 0;
    border: 8px solid transparent;

  }
  .menu-container nav .sub-menu .menu-item-has-children:hover::after {
    border-left:8px solid transparent;
    z-index: 2;
  }
  /* ----- 3rd lvl ----- */
  .menu-container nav .sub-menu .sub-menu {
    display: none;
    position: absolute;
    top: -25px;
    left: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 150%;
    z-index: 1;
  }
  .menu-container nav .sub-menu .sub-menu li:first-of-type {
    border-top: 10px solid transparent;
  }
  .menu-container nav .sub-menu .sub-menu li:first-of-type::before {
    display: none;
  }
  .menu-container nav .sub-menu a {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    text-align: center;
  }
  .langs {
    margin: 0;
    margin-top: 8px;
  }
  .menu-container .langs .sub-menu li span {
    line-height: 20px;
    height: 20px;
  }
}

/* ---------------------------------------- */

/* -------------------- Intro -------------------- */
.toggle-icon {
  margin-left: 8px;
  height: 16px;
  width: 16px;
  background-image: url('images/dropdown.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.main {
  padding: 12px 0;
  max-width: 1400px;
  margin: 0 auto;
}

p {
  line-height: 1.7;
}


.expand-block {
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

.intro-text {
  max-height: 150px;
  transition: all 350ms ease-in-out;
}

@media all and (min-width:1024px) {
  .intro-text {
    max-height: 200px;
  }
}

.expand-block.expanded .intro-text {
  max-height: 2000px;
  padding-bottom: 64px;
}
.expand-block.expanded .contract-text {
  display: block;
}

.expand-block.expanded .expand-text {
  display: none;
}


.expand-block.expanded .expand-icon {
  transform: rotate(180deg);
}

.expand-block .contract-text {
  display: none;
}

.expand-block__control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, .8) 0%, #F5F5F5 100%);
  padding: 24px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
  color: #353535;
  cursor: pointer;
}


.expand-icon {
  margin-left: 8px;
  height: 16px;
  width: 16px;
  background-image: url('images/expand-icon.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sites-rating {
  display: none;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 32px auto 0;
}

.sites-rating__text {
  text-transform: uppercase;
  letter-spacing: .2px;
  font-weight: bold;
}

.sites-rating__icon {
  height: 24px;
  flex: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sites-rating__icon.licensed {
  background-image: url('images/licensed.svg');
}

.sites-rating__icon.secure {
  background-image: url('images/secure-trusted.svg');
}
.sites-rating__icon.mobile-friendly {
  background-image: url('images/mobile-friendly.svg');
}
.sites-rating__icon.fast-withdrawals {
  background-image: url('images/fast-withdrawals.svg');
}

@media all and (min-width: 1024px) {
  .sites-rating {
    display: flex;
  }
}

/* ---------------------------------------- */


/* -------------------- Table -------------------- */

.casinos-table {
  border-collapse: separate;
  padding: 0;
  width: 100%;
  margin: 0 auto 12px;
  border-spacing: 0 1em;
}

.casinos-table__name {
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  color: #353535;
  text-align: center;
  padding: 0 0 8px;
}


.casino-image {
  width: 50%;
  background: #353535;
  padding: 12px 8px;
}

.casino-image img {
  max-width: 100%;
}

.casino-info--mobile {
  text-align: center;
  padding: 12px 4px 2px;
  color: #F2F2F2;
}

.casino-info__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-first {
  flex: 1;
}

.our-score {
  font-size: 1.6em;
  color: #0066FF;
  font-weight: 700;
}

.score-text {
  color: #0066FF;
  margin-top: 2px;
  font-size: .8em;
}

.casino-info__header {
  font-weight: 700;
  font-size: 1.1em;
  margin: 0px 0 4px;
}

.casinos-heading {
  display: none;
}

@media all and (min-width:1024px) {
  .casinos-table {
    margin: 0px 0 32px;
  }

  .casinos-heading {
    display: table-header-group;
  }
  .casino-image {
    padding: 8px 4px;
    width: 20%;
    background: transparent;
  }

  .casino-info--mobile {
    display: none;
  }
}

.casino-position {
  width: 4%;
}

.casino-position .first {
  width: 60px;
  height: 60px;
  background: #312300;
  border-radius: 50%;
  padding: 4px;
}

.casino-position .position {
  font-size: 1.8em;
  font-family: 'pragmatica', sans-serif;
  font-weight: 700;
  text-align: center;
}

.first-inner {
  border: 6px solid #FFB600;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFB600;
  font-family: 'pragmatica', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
}


.rating-stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating-icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.star {
  background-image: url('images/star.svg');
}

.star-half {
  background-image: url('images/star-half.svg');
}

.voted {
  text-align: left;
  color: #CC8800;
  font-size: .8em;
  line-height: 18px;
  margin-top: 4px;
}

@media all and (min-width: 1024px) {
  .rating-icon {
    width: 24px;
    height: 24px;
    justify-content: center;
  }

  .rating-stars {
    justify-content: center;
  }

  .voted {
    text-align: center;
  }
}


.casino-score {
  width: 20%;
}

.casino-welcome-bonus {
  width: 20%;
  text-align: center;
  padding: 0 8px;
}

.bonus-text {
  margin-bottom: 12px;
  line-height: 1.5;
}

.other-text {
  color: #7C7C7C;
  font-size: .9em;
}

.casino-score {
  font-weight: 700;
  font-size: 2.2em;
  text-align: center;
  width: 15%;
  color: #0066FF;
  padding: 0 8px;
}

.progress {
  width: 100px;
  height: 100px;
  background: none;
  position: relative;
  margin: 0 auto;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #003688;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  border-color: #0066FF;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;

}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.score-container {
  background: #0066FF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #F2F2F2;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.02),
          0 6.7px 5.3px rgba(0, 0, 0, 0.028),
          0 12.5px 10px rgba(0, 0, 0, 0.035),
          0 22.3px 17.9px rgba(0, 0, 0, 0.042),
          0 41.8px 33.4px rgba(0, 0, 0, 0.05),
          0 100px 80px rgba(0, 0, 0, 0.07);
}

.casino-site {
  padding: 0 8px;
  background: #202020;
}

.cta-button {
  background: #02FB92;
  box-shadow: 0px 0px 8px rgba(2, 185, 86, 0.4);
  border-radius: 14px;
  font-family: 'pragmatica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 172%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 26px;
  color: #353535;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  transition: all .3s ease-in-out;
}

.casino-link {
  margin: 8px auto 0;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
  color: #F2F2F2;
  width: 150px;
  display: none;
}

.casino-link:hover {
  color: #0066FF;
}

@media screen and (min-width: 1024px) {
  .casino-link {
    color: #353535;
    display: block;
  }

  .casino-site {
    background: transparent;
  }

  .cta-button {
    font-size: 18px;
    max-width: 200px;
  }
}

.casino-row, {
  padding: 12px 0;
  transition: background 350ms ease-out;
}

.casino-row:hover, .selected-row {
  background: #353535;
}

.casino-row:hover .casino-position, .selected-row casino-position {
  color: #F2F2F2;
}

.casino-row:hover .casino-link, .selected-row .casino-link {
  color: #F2F2F2;
}
.casino-row:hover .casino-link:hover, .selected-row  .casino-link:hover  {
  color: #0066FF;
}

.casino-row:hover .casino-welcome-bonus, .selected-row  .casino-welcome-bonus {
  color: #F2F2F2;
}

.casino-row:hover .other-text, .selected-row  .other-text {
  color: #D7D7D7;
}

.casinos-table--rating, .casinos-table--score, .casinos-table--number, .casinos-table--welcome {
  display: none;
}

@media all and (min-width:1024px) {
  .casinos-table--rating, .casinos-table--score, .casinos-table--number, .casinos-table--welcome {
    display: table-cell;
  }
}

/* ---------------------------------------- */

.subscribe {
  width: 100%;
  padding: 4px 12px;
  background: #353535;
}

.subscribe-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  flex-flow: column nowrap;
  padding: 12px 0;
}

.subscribe-icon {
  width: 30%;
  height: 100%;
}

.subscribe-icon img {
  max-width: 100%;
}

.subscribe-form {
  padding: 12px 40px 32px;
  position: relative;
}

.subscribe-text {
  font-size: 1.4em;
  color: #F2F2F2;
  line-height: 1.4;
  font-family: 'pragmatica', sans-serif;
}

.subscribe-input {
  height: 39px;
  background: #F2F2F2;
  border-radius: 2px;
  font-size: .9em;
  line-height: 18px;
  color: #353535;
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  padding: 4px 8px;
}

.subscribe-button-container {
  display: flex;
  justify-content: flex-end;
}

.subscribe-button {
  color: #FFB600;
  text-decoration: underline;
  font-family: 'pragmatica-condensed', sans-serif;
  background: none;
  outline: 0;
  border: 0;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 1.1em;
  margin-top: 8px;
  padding: 0;
  cursor: pointer;
}

@media all and (min-width: 1024px) {
  .subscribe-content {
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
  }
}

footer {
  margin-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.responsible-gambling {
  background: #EBEBEB;
  padding: 36px 32px;
  text-align: center;
}

.gambling-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 32px auto 0;
  flex-flow: row wrap;
}

.gambling-icon {
  flex: 1;
  padding: 8px 24px;
  max-width: 200px;
  min-width: 150px;
  margin: 6px 0;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gambling-icon img {
  max-width: 100%;
  max-height: 32px;
  filter: grayscale(100%);
}

@media all and (min-width: 1024px) {
  .gambling-icons {
    flex-flow: row nowrap;
  }
}

.footer-bottom {
  padding: 16px 8px;
  max-width: 800px;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  margin-bottom: 8px;
}

.footer-heading__icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('images/casino10.svg');
  min-width: 200px;
  height: 63px;
  margin-bottom: 12px;
}

.footer-heading__text {
  margin-left: 32px;
  font-size: .9em;
  line-height: 1.4;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.footer-navigation__column {
  flex: 1;
  margin-bottom: 8px;
  min-width: 200px;
  max-width: 200px;
}

.footer-nav-item {
  display: block;
  font-size: .9em;
  line-height: 2.1;
}

.footer-navigation--bold {
  font-size: .8em;
  font-weight: 700;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-right: 12px;
}

@media all and (min-width: 1024px) {
  .footer-heading {
    flex-flow: row nowrap;
    margin-bottom: 64px;
  }

  .footer-heading__icon {
    margin-bottom: 0;
  }

  .footer-navigation {
    flex-flow: row nowrap;
  }

  .footer-bottom {
    padding: 64px 8px 32px;
  }

  .footer-navigation__column {
    flex: 1;
    margin-bottom: 32px;
    min-width: auto;
    max-width: auto;
  }

}

.footer-link {
  color: #0066FF;
  font-size: .9em;
  line-height: 1.6;
  display: block;
}

.rights-reserved {
  position: absolute;
  bottom: 16px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: .8em;
}

.text-block {
  padding: 0 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  clear: left;
  padding: 0 16px;
  max-width: 1400px;
  margin: 0 auto;
}

.main .image-right {
  float: right;
  padding-left: 8px;
}

.main .image-left {
  float: left;
  padding-right: 8px;
}

.table-of-content {
  border: 2px solid #0066FF;
  border-radius: 20px;
  padding: 0px 0 16px;
  max-width: 250px;
  min-width: 200px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.table-of-content .content-list {
  text-align: left;
}

.content-list .content-item {
  padding: 8px 16px;
  margin: 4px 0;
}

.content-item .content-link {
  text-decoration: none;
  color: #353535;
  display: block;
  width: 100%;
  height: 100%;
}

.content-item:hover {
  background-color: #0066FF;
}

.content-item:hover .content-link {
  color: #F2F2F2;
}


.additional-content::after {
  content: "";
  clear: both;
  display: table;
}


.text-link {
  color: #0066FF;
}

.center {
  text-align: center;
}

.table-h2 {
  margin: 8px 0 0;
}

.unordered-list {
  margin: 12px 0 18px;
  padding-left: 16px;
  max-width: 300px;
}

.unordered-list li {
  margin: 0 0 16px 0;
  position:relative;
  list-style-type: circle;
}

.ordered-list {
  margin: 12px 0 18px;
  padding-left: 16px;
  max-width: 300px;
}

.ordered-list li {
  margin: 0 0 16px 0;
  position:relative;
}

@media all and (min-width: 1024px) {
  .text-block {
    padding: 0 16px;
  }

  .table-h2 {
    margin: 24px 0 4px;
  }
}


/*//////////////////////////////////////////////////////////////////
[ TABLE ]*/

.table-container {
  margin: 12px 8px 24px;
  width: 100%;
  border: 2px solid #0066FF;
  border-radius: 10px;
  float: right;
}

@media all and (min-width: 600px) {
  .table-container {
    max-width: 300px;
  }
}

.table-element {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.table-element * {
  position: relative;
}
.table-element td, .table-element th {
  padding-left: 8px;
}

.table-element .table-content tr {
  height: 50px;
}
.table-element .table-content tr:last-child {
  border: 0;
}

.table-element td, .table-element th {
  text-align: left;
}
.table-element td.l, .table-element th.l {
  text-align: right;
}
.table-element td.c, .table-element th.c {
  text-align: center;
}
.table-element td.r, .table-element th.r {
  text-align: center;
}


.table-head th{
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

.table-content tr:nth-child(even) {
  background-color: #f5f5f5;
}

.table-content tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

.column1 {
  font-weight: 600;
  color: #353535;
}



/*//////////////////////////////////////////////////////////////////
[ AVOID-CASINO ]*/

.avoid-list {
  margin: 24px 0;
  padding: 0 24px 0 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.avoid-casino {
  max-width: 100%;
  min-width: 200px;
  border: 4px solid #F72D16;
  border-radius: 10px;
  padding: 12px 18px;
  margin: 0 0 24px;
  position: relative;
}

.danger-icon {
  height: 80px;
  width: 80px;
  background-image: url('images/danger.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  right: -35px;
}

.avoid-casino__img {
  background: #353535;
  border-radius: 50%;
  height: 117px;
  width: 117px;
  margin: 0 auto 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline {
  background: #353535;
  border-radius: 20px;
  margin: 4px auto 16px;
  height: 4px;
  width: 50px;
}


.avoid-casino__list li {
  display: flex;
  margin-bottom: 12px;
}

.avoid-icon {
  height: 16px;
  width: 16px;
  min-width: 16px;
  background-image: url('images/cancel.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

@media all and (min-width: 1024px) {
  .avoid-list {
    margin: 24px 0;
    padding: 0 54px;
    flex-flow: row nowrap;
  }

  .danger-icon {
    height: 100px;
    width: 100px;
    right: -52px;
  }

  .avoid-casino {
    max-width: 30%;
    min-width: 200px;
  }
}



/*//////////////////////////////////////////////////////////////////*/

.citation-text {
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  max-width: 500px;
}

.citation-author {
  font-size: 1.1em;
  color: #0066FF;
  font-weight: 700;
}
/*FAQ*/

.faq__block {
  margin-bottom: 4px;
}

.faq__question {
  background: #EBEBEB;
  border-radius: 4px 4px 0 0;
  padding: 16px 12px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.faq-question-text {
  font-family: 'pragmatica', sans-serif;
  color: #353535;
  font-weight: 700;
  flex: 1;
}

.faq-circle {
  background: #0066FF;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin-right: 8px;
}

.faq__questions {
  padding: 12px 0;
}

.faq-toggle-container {
  width: 20px;
  height: 20px;
  min-width: 20px;
}

.faq-toggle {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.toggle-open {
  background-image: url('images/toggle-open.svg');
}

.toggle-close {
  display: none;
  background-image: url('images/toggle-close.svg');
}

.faq__block--selected .faq__question {
  background: #0066FF;
}

.faq__block--selected .toggle-open {
  display: none;
}

.faq__block--selected .toggle-close {
  display: block;
}

.faq__block--selected .faq-question-text {
  color: #F2F2F2;
}

.faq__block--selected .faq-circle {
  background-color: #F2F2F2;
}

.faq__block--selected .faq__answer {
  max-height: 1000px;
}

.faq__answer {
  background: #EBEBEB;
  max-height: 0;
  overflow: hidden;
  transition: all 350ms ease-out;
}

.faq__answer--text {
  padding: 16px 24px;
}

/*//////////////////////////////////////////////////////////////////*/


.page-rating {
  background: #0066FF;
  padding: 16px 16px;
  max-width: 350px;
  text-align: center;
  margin: 12px auto;
  font-weight: 600;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.35);
}

.page-rating .rating-stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-rating .voted {
  text-align: center;
}

.page-rating__text {
  margin-bottom: 12px;
  color: #fff;
  letter-spacing: .5px;
}


.author-block {
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 100%;
  padding: 24px 18px;
}

.author-info {
  display: flex;
  font-weight: 700;
  margin-bottom: 32px;
}

.author-name {
  margin-bottom: 8px;
  font-size: .9em;
}

.author-info__image {
  border-radius: 50%;
  margin-right: 16px;
  height: 50px;
  width: 50px;
}

.author-about {
  line-height: 1.7;
  font-size: .9em;
}

.author-block--mobile {
  display: block;
}

.author-block--web {
  display: none;
}

@media all and (min-width: 600px) {
  .author-block {
    float: right;
    max-width: 240px;
  }

  .author-block--mobile {
    display: none;
  }

  .author-block--web {
    display: block;
  }
}

.horizontal-conversion {
  background: #353535;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 16px 4px;
}

.conversion__image {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 8px;
}

.conversion__stars {
  display: none;
}

.hconversion_item {
  flex: 1;
  color: #F2F2F2;
}

.hconversion_item .casino-link {
  color: #F2F2F2;
}

.hconversion_item .casino_link:hover {
  color: #0066FF;
}

.conversion__stars {
  display: none;
}

.conversion__welcome {
  display: none;
}

@media all and (min-width: 1024px) {
  .conversion__stars {
    display: block;
  }

  .conversion__welcome {
    display: block;
  }

  .conversion__image {
    padding: 0;
  }

  .horizontal-conversion {
    padding: 0;
  }
}

.vertical-conversion {
  background: #353535;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 250px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.vertical-conversion__content {
  padding: 20px 24px 8px;
  color: #F2F2F2;
}

.vconversion_item {
  padding: 6px 0;
}

.vconversion_item .casino-link {
  color: #F2F2F2;
}

.vconversion_item .casino-link:hover {
  color: #0066FF;
}

@media all and (min-width: 1024px) {
  .vertical-conversion {
    float: left;
    margin: 0 12px 0 0;
  }
}

